<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="addressSOAPBinding" />
                <binding name="DocumentDossierAccountsReceivableSOAPBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40000/abaconnect/services/address_2018_00"
                binding="basicHttpBinding" bindingConfiguration="addressSOAPBinding"
                contract="AbaConnect.addressPort" name="address" />
            <endpoint address="http://localhost:40000/abaconnect/services/DocumentDossierAccountsReceivable_2009_00"
                binding="basicHttpBinding" bindingConfiguration="DocumentDossierAccountsReceivableSOAPBinding"
                contract="AbaConnect.Debtors.DocumentDossierAccountsReceivablePort"
                name="DocumentDossierAccountsReceivable" />
        </client>
    </system.serviceModel>
</configuration>